h1 {
    font-size: 65px;
    color: orange;     
    font-family: sans-serif;
    text-align: center;      
    text-decoration: underline;
}
.steelblue {
    background-color: steelblue;
}

p {
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    text-align: center; 
    
}

body {
    font-size: 16px;
}

ul {
    line-height: 30px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}