.super-mario {   
    width: 200px;
   
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 50px;
  }
  
  .baloon {
  position: absolute;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 230px;
    z-index: 1;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 500px;
  
  }