div:hover {
    border: solid 2px seagreen
}

div:nth-child(3) {
    background-color: magenta;
}
div:nth-child(4) {
    background-color: orange;
}
div:nth-child(5) {
    background-color: blueviolet;
}
div:nth-child(6) {
    background-color: darkblue;
}
div:nth-child(7) {
    background-color: lightcyan;
}

div:nth-of-type(1) {
    color: red
}
div:nth-of-type(2) {
    color: blue
}
div:nth-of-type(3) {
    color: green
}
div:nth-of-type(4) {
    color: gold
}
div:nth-of-type(5) {
    color: silver
}