body {
    background-color: antiquewhite;
}

header {
    margin-top: 20px;
}

.container {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px rgb(105, 105, 105);
}